/* Variables */
// $primary-color: rgb(241, 92, 109);
$primary-color: #E08272;

.sidebar {
  background-image: url("../../assets/images/sidebar-bg.png");
  // background-color: rgb(37, 46, 62);
  // background: linear-gradient(#5c6b7c 0%, #344557 15%, rgb(37, 46, 62) 40%, #1E2A3A 100%);
  background: linear-gradient(#4b5c70 0%, #344557 15%, rgb(37, 46, 62) 40%, #1E2A3A 100%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-attachment: fixed;
  background-position: left 0 bottom 0 !important;
  background-size: 250px !important;  
  background-repeat: no-repeat;
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.MuiList-root.MuiList-padding.css-h4y409-MuiList-root::-webkit-scrollbar {
  display: none !important;
}

.avatar {
  display: flex;
  align-items: center;
  padding: 30px 10px;
}

.sidebar-list {
  display: flex;
  align-items: center;
}

.sidebar-listItem {
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 0 !important;
  margin: 3px 0;
  width: 100%;
  font-size: 14px;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0.4rem;
}

.sidebar-link.section-header {
  background-color: rgba(255, 255, 255, 0.08) !important;
  border-radius: 8px;
  margin-bottom: 0.2rem;
}

.sidebar-list-text {
  color: #fff;
  font-size: 0.9rem;
  margin: 0;
}

.sidebar-link.active,
.sidebar-link:hover {
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.04) !important;
  border-radius: 8px;
  border-left: 5px solid $primary-color;
  font-weight: 600;
  padding: 0 !important;
  transition: 0.3s;
}

.sidebar-link:hover {
  color: #fff !important;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.04) !important;
}

.sidebar-link.section-header:hover {
  background-color: rgba(255, 255, 255, 0.12) !important;
}

.sidebar-list-text {
  margin-bottom: 0 !important;
}

/* Collapse animation styles */
.MuiCollapse-root {
  .sidebar-listItem {
    margin-bottom: 4px;
  }
  
  .sidebar-link {
    margin-bottom: 0.2rem;
  }
}